<!DOCTYPE html>
<html>
<head>
    <title>Eco.SYS: ecosystems game</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/commons.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/users.css" />
</head>

<body>
<div id="main">
    <div id="title">eco.SYS</div>
    <div id="loginData">
        <form action="/login" method="POST">
            <% if (typeof errorMessage != 'undefined') { %>
                <div class="error">
                    <%= errorMessage %>
                </div>
            <% } %>
            <div class="formField">
                Login: <input type="text" length="140" name="login"><br />
            </div>
            <div class="formField">
                Password: <input type="password" length="140" name="password">
            </div>
            <div class="buttons">
                <div class="button">
                    <input type="submit" value="Log In">
                </div>
            </div>
        </form>
    </div>

</div>
</body>

</html>
