<!DOCTYPE html>
<html>
<head>
    <title>Eco.SYS: ecosystems game</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/commons.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/users.css" />
</head>

<body>
<div id="main">
    <div id="title">eco.SYS</div>

    <% if (typeof errorMessage != 'undefined') { %>
    <div class="error">
        <%= errorMessage %>
    </div>
    <% } %>

    <div id="registerData">

        <script type="text/javascript">
            var RecaptchaOptions = {
                theme : 'blackglass'
            };
        </script>

        <form action="/users/register" method="POST">
            <div class="formField">
                eMail: <input type="text" length="140" name="email">
            </div>
            <div class="formField">
                Password: <input type="password" length="140" name="password">
            </div>
            <div class="formField">
                Nickname: <input type="text" length="140" name="nickname">
            </div>
            <div class="formField">
                Name: <input type="text" length="140" name="name">
            </div>
            <div class="formField">
                Surname: <input type="text" length="140" name="surname">
            </div>
            <div class="captcha">
                <%- captcha %>
            </div>
            <div class="buttons">
                <div class="button">
                    <input type="submit" value="Create user">
                </div>
            </div>
        </form>
    </div>
</div>
</body>

</html>