#buttons {
	position: absolute;
	width: 200px;
	height: 70px;
	right: 10px;
	top: 10px;
	background-color: green;
}

#opponents {
    position: absolute;
    width: 300px;
    height: 70px;
    right: 250px;
    top: 10px;
    background-color: green;
}

.opponent {
    margin: 5px;
    float: left;
    width: 50px;
    height: 58px;
}

.opponent > .name, .opponent > .score {
    height: 20px;
    margin: 2px;
    padding: 2px;
}

#board {
	position: absolute;
	width: 96%;
	height: 70%;
	left: 2%;
	right: 2%;
	bottom:20px;
	top: 85px;
}

#board > canvas {
	height: 100%;
	width: 100%;
}

#tiles {
	position: absolute;
	width: 500px;
	height: 110px;
	right: 10px;
	bottom: 10px;
	background-color: red;
}

#score {
	position: absolute;
	width: 200px;
	height: 80px;
	left: 10px;
	bottom: 10px;
	background-color: red;
    padding: 10px;
    font-size: 50pt;
    text-align: center;
}

.tile {
	height: 100px;
	width: 50px;
	background-color: pink;
	float: left;
}
