html {
    margin: -10px;
    padding: 0px;
}

div {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#main {
    width: 80%;
    left: 10%;
    height: 100%;
    background-color: blue;
    position: absolute;
    padding: 0px;
    margin: 0px;
}

#title {
    position: absolute;
    width: 400px;
    height: 70px;
    left: 10px;
    top: 10px;
    background-color: red;
}

.formField {
    padding: 15px;
}

.formField > input {
    float: right;
}

.buttons {
    float: right;
}