html {
    margin: -10px;
    padding: 0px;
    font-family: monospace;
}

#main {
    width: 80%;
    left: 10%;
    height: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px;
}

#title {
    position: absolute;
    width: 400px;
    height: 70px;
    left: 10px;
    top: 10px;
    text-align: center;
    font-size: 50pt;

}

.formField {
    padding: 15px;
}

.formField > input {
    float: right;
}

.buttons {
    float: right;
}