#createGame {
    position: absolute;
    width: 60%;
    height: 20%;
    left: 20%;
    top: 15%;
    border-style: solid;
    background-color: #d3d3d3;
    padding: 10px;
}

#games {
    position: absolute;
    width: 60%;
    height: 50%;
    left: 20%;
    top: 40%;
    border-style: solid;
    background-color: #d3d3d3;
    padding: 10px;
}

#commands {
    position: absolute;
    width: 10%;
    height: 10%;
    right: 5%;
    bottom: 5%;
    border-style: solid;
    background-color: #d3d3d3;
    padding: 10px;
}

.formField > input {
    width: 80%;
}

.game {
    height: 45px;
    padding: 5px;
}

.player {
    float: right;
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
    padding: 4px;
}