#loginData {
    position: absolute;
    width: 30%;
    height: 20%;
    left: 35%;
    top: 40%;
    padding: 10px;
    border-style: solid;
    background-color: #d3d3d3;
}

#registerData {
    position: absolute;
    width: 40%;
    height: 30%;
    left: 30%;
    top: 40%;
    padding: 10px;
    border-style: solid;
    background-color: #d3d3d3;
}

